@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@section Heads{
    <link rel="stylesheet" href="~/css/login.css">
}

    @*<div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>*@
    <div class="login-container">
        <div class="login-form-card backdrop-blur">
            <form id="account" method="post">
                <h1 class="heading">Login</h1>
                <div asp-validation-summary="All" class="text-danger"></div>
                <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" placeholder="Email" class="backdrop-blur" required>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <label asp-for="Input.Password">Password</label>
                <input asp-for="Input.Password" placeholder="Password" class="backdrop-blur" required>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <p class="forgot-pass-link"><a id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a></p>
                <div class="form-button-with-text-link">
                    <button type="submit">Login</button>
                    <p>Don't have an account? <span><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a></span></p>
                </div>
            </form>
        </div>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
